
body {
  margin: 0px;
  padding: 0px;
}

/* top */

header {
  display: none;
}

.top {
  text-align: center;
  position: relative;
}

.top-img {
  margin: 0 auto;
  width: 93%;
}

.top-massage h1 {
  position: absolute;
  top: 46%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: 2.5rem;
}

.top-massage h2 {
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
  font-family: serif;
  font-weight: normal;
  font-size: 1.2rem;
}

p {
  font-size: 13px;
  line-height: 2;
  letter-spacing: 0.5px;
  font-family: "Arial","Meiryo";
}

.section01 {
  margin: 60px auto 80px auto;
  width: 61%;
}

.sec-title {
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-weight: normal;
}

ul {
  padding: 0;
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
}

.flex-list li {
  flex: auto;
  width: 50%;
  list-style: none;
}

li img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.li2, .li3 {
  background-color:rgba(0,0,0,0.03);
}

.li2 h3, .li3 h3 {
  margin-top: 100px;
}

.li2 p, .li3 p {
  margin: 30px auto;
  width: 72%;
}

.sec03-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 60px auto 80px auto;
  text-align: center;
}

.sec03-container li {
  flex: auto;
  width: 30%;
  list-style: none;
}

.sec03-container li img {
  width: 80%;
  height: auto;
  margin: 7px 0;
}

.sec03-container p {
  text-align: left;
  padding: 0 25px;
}


.section04 {
  position: relative;
}

.sec04-photo {
  width: 100%;
}

.sec04-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 70%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
}

.sec04-container li {
  flex: auto;
  width: 30%;
  list-style: none;
  padding: 10px 35px;
}

.sec05-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 110px auto;
}

.sec05-container li {
  flex: auto;
  width: 40%;
  list-style: none;
}


.company01 {
  float: right;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-right: 70px;
  font-family: "Arial","Meiryo";
}


table {
  border-spacing: 40px 18px;
}

.sec05-right {
  margin-top: 18px;
}

.fukuoka-map {
  float: left;
  width: 60%;
  height: 90%;
}

footer{
  margin: 30px 0 90px 0;
  text-align: center;
}

footer p {
    font-size: 10.5px;
}





/* スマホデザイン */
@media screen and (max-width: 480px){

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background: #fff;
  float: right;
  position: absolute;
  top: 2%;
  left: 87%;
}

/*------------------------------

  ここから下がハンバーガーメニュー
  に関するCSS

------------------------------*/

/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}



/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 98;/* 重なり順を一番下に */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 2px;
  width: 17px;
  border-radius: 2px;
  background: white;
  transition: 0.5s;
  position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 6px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 6px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* メニューのデザイン*/
.drawer-content {
  width: 30%;
  height: 25%;
  position: fixed;
  top: 0;
  left: 100%;/* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgba(255, 255, 255, 0.2);
  transition: .5s;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0;/* メニューを画面に入れる */
}

/* メニューを閉じるための要素のデザイン*/
.drawer-close {
  width: 100%;
  height: 25%;
  background:  rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 100%;/* 閉じるための要素を画面外へ */
  z-index: 99;/* 重なり順をメニューより下に*/
  transition: .5s;
}

#drawer-check:checked ~ .drawer-close {
  left: 0;/* 閉じるための要素を画面内へ */
}

.drawer-list li {
  list-style: none;
  margin-left: 10px;
  line-height: 1.7;
}

/* ------------------------------ */



.top {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.top-img {
  width: 1200px;
  height: auto;
  transform: translate(-34.5%, 0%);
}

.top-massage h1 {
  position: absolute;
  top: 46%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: 1.8rem;
  width: 100%;
}

.top-massage h2 {
  position: absolute;
  top: 54%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
  font-family: serif;
  font-weight: normal;
  font-size: 0.9rem;
  width: 100%;
}

p {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.8px;
  font-family: "Arial","Meiryo";
}

.section01 {
  margin: 60px auto 70px auto;
  width: 61%;
}

.sec-title {
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.8px;
}

.section01 p {
  margin-top: 30px;
}

ul {
  padding: 0;
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
}

.flex-list li {
  flex: auto;
  width: 100%;
  list-style: none;
}

li img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.li2, .li3 {
  background-color:rgba(0,0,0,0.03);
}

.li2 h3, .li3 h3 {
  margin-top: 50px;
}

.li2 p, .li3 p {
  margin: 30px auto 50px auto;
  width: 90%;
}

.li3 {
  order: 2;
}

.li4 {
  order: 1;
}

.sec03-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 30px auto 30px auto;
  text-align: center;
}

.sec03-container li {
  flex: auto;
  width: 100%;
  list-style: none;
}

.sec03-container li img {
  width: 70%;
  height: auto;
  margin: 0 0 7px 0;
}

.sec03-container p {
  width: 70%;
  text-align: left;
  padding: 0 15%;
  margin-bottom: 25px;
}


.section04 {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.sec04-photo {
  display: none;
}

.sec04-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: white;
}

.sec04-container li {
  flex: auto;
  width: 100%;
  list-style: none;
  padding: 10px 10px 0 10px;
  background-image: url(./image/sec04_01.png);
  background-size: cover;
}

.sec04-container h3 {
  margin: 55px 0 30px 0;
}

.sec05-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px auto 70px auto;
}

.sec05-container li {
  flex: auto;
  width: 100%;
  list-style: none;
}


.company01 {
  float: right;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin: 0;
  font-family: "Arial","Meiryo";
}


table {
  border-spacing: 40px 18px;
}

.sec05-right {
  margin-top: 40px;
  text-align: center;

}

.fukuoka-map {
  width: 90%;
  height: 270px;
  padding: 0 5%;
}

footer{
  margin: 30px 0 20px 0;
  text-align: center;
}

footer p {
    font-size: 10.5px;
}

}


